<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server.Name" value="CentOS测试"/>
		<add key="Server.URL" value="http://192.168.31.25:8789"/>
		<add key="Server.Listen" value="http://+:8789/"/>
		<add key="Server.AllowIP" value=""/>
		<!--默认添加的白名单IP,用,隔开-->
		<!--<add key="Server.AllowIP" value="192.168.31.0/24"/>-->
		<add key="App.CacheType" value="web"/>
		<add key="App.Cache" value=""/>
		<!--<add key="App.IPSet" value="buffirewallipset"/>-->

		
		<add key="SSH.UserName" value="root"/>
		<!--<add key="SSH.UserPassword" value="111111"/>-->
		<add key="SSH.PrivateKey" value="D:\workspace\FriendCircleRobot\服务器信息\fcrobotserver.pem"/>
		<add key="SSH.Host" value="127.0.0.1"/>
		<add key="SSH.Port" value="22"/>
		<add key="App.UseSudo" value="0"/>
	</appSettings>
</configuration>