<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server.Name" value="服务器"/>
    <add key="Server.URL" value="http://127.0.0.1:8789"/>
    <add key="Server.Listen" value="http://+:8789/"/>
	  
	<add key="Server.FirewallType" value="iptables"/>
	  <!--默认添加的白名单IP,用,隔开-->
    <add key="Server.AllowIP" value="192.168.0.100-192.168.0.250"/>
    <add key="App.CacheType" value="web"/>
    <add key="App.Cache" value=""/>
    

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
