<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Server.URL" value="http://112.74.106.249:8789/"/>
    <add key="User.Name" value="hewf"/>
    <add key="User.Secret" value="67baf774300f404c9b220e4086e3ef2d"/>
  </appSettings>
</configuration>